<div class="container my-4 characters-container">
  <div class="row characters-title mb-2">
    <h1>Personagens do Final Fantasy 7</h1>
  </div>

  <app-filter text="Digite o nome do Personagem"></app-filter>

  <div class="row">
    <div class="col-sm-6 col-lg-4 col-xl-3"  *ngFor="let character of characters; index as i">
      <a [routerLink]="['/characters', character.id]">
        <app-card [character]="character"></app-card>
      </a>
    </div>

  </div>

  <p-paginator [first]="1" [rows]="4" [totalRecords]="8"></p-paginator>
</div>
