<nav class="sidebar-container">
  <div class="title">
    <h4>Área Admin</h4>
  </div>
  <ul class="sidebar-items-container">
    <li>
      <a
        routerLink="/admin/characters/list"
        class="sidebar-item"
        routerLinkActive="active"
      >
        <fa-icon icon="user-friends" class="mr-2"></fa-icon>
        Personagens
      </a>
    </li>
    <li>
      <a
        routerLink="/admin/categories/list"
        class="sidebar-item"
        routerLinkActive="active"
      >
        <fa-icon icon="tag" class="mr-2"></fa-icon>
        Categorias
      </a>
    </li>
    <li>
      <a
        routerLink="/admin/users/list"
        class="sidebar-item"
        routerLinkActive="active"
        *ngIf="haveRole('ROLE_ADMIN')"
      >
        <fa-icon icon="user" class="mr-2"></fa-icon>
        Usuários</a
      >
    </li>
  </ul>
</nav>
