<div class="character-details-container">
  <div class="character-details-card">
    <div class="title">
      <h1>Cloud Strife</h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="img-container">
          <div class="img-container-top">
            <img src="assets/images/sidebar1.jpg" alt="cloud strife" />
          </div>
          <div class="img-container-bottom">
            <p>História do personagem</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="information-container">
          <div class="information-container-top">
            <h1>Categoria:</h1>
            <h2>Principal</h2>
          </div>
          <div class="information-container-middle">
            <h1>Idade:</h1>
            <h2>21</h2>
          </div>
          <div class="information-container-bottom">
            <h1>Residência:</h1>
            <h2>Nibelhein</h2>
          </div>
        </div>
        <div class="details-buttons-container">
          <a routerLink="/characters">
            <button class="btn btn-primary detail-button text-white">
              Voltar aos personagens
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
