<div class="character-details-container">
  <div class="character-details-card">
    <div class="title mb-3">
      <h1>{{character.name}}</h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="img-container">
          <div class="img-container-top">
            <img src={{character.imgUrl}} alt={{character.name}} />
          </div>
          <div class="img-container-bottom">
            <p>{{character.history}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="information-container">
          <div class="information-container-top" *ngFor="let category of character.categories; index as i">
            <h1>Categoria:</h1>
            <h2>{{ category.name }}</h2>
          </div>
          <div class="information-container-middle">
            <h1>Idade:</h1>
            <h2>{{character.age}}</h2>
          </div>
          <div class="information-container-bottom">
            <h1>Residência:</h1>
            <h2>{{character.residence}}</h2>
          </div>
        </div>
        <div class="details-buttons-container">
          <a routerLink="/characters">
            <button class="btn btn-primary detail-button text-white">
              Voltar aos personagens
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
